---
site: Pet Photos
layout: base
---
<h1>{{ site }}</h1>

{% unless page.url == '/' %}
    <a href="{{ '/' | url }}">Home</a>
{% endunless %}

{{ content }}
{% unless photos %}
  <div>

  <figure>
      <figcaption> Type of camera used: {{ exif_camera_model }} </figcaption>
      <figcaption>Photographers Username: <strong>{{ photographer_username }}</strong></figcaption>
      <figcaption>Click on the link to be taken to full size photo. <a href="{{ photo_image_url }}" target="_blank">View Photo</a></figcaption>
   </figure>

  </div>
  {% endunless %}
